<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSync</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://kit.fontawesome.com/e7b712cdff.js" crossorigin="anonymous"></script> <!-- load fontawesome -->
    
</head>
<body>

    
    