<%- include('partials/header.ejs') %>
<div class="container-fluid row" id="index">
  <div class="col-md-6 col-6 text-center" id="index-text">
    <h1>GSync</h1>
    <p style="letter-spacing: 0.5rem; font-size: 2em">
      An Easier Way to Synchronize
    </p>

    <a href="<%=url%>" class="btn btn-danger"
      ><span class="fa fa-google-plus"></span> Google</a
    >
    <p class="text-muted">
      Due to OAuth API verification policy. The Drive API may not work on hosted
      version. The App needs to be verified for that which takes about 4-6
      weeks.
      <br />
      <a href="https://support.google.com/cloud/answer/9110914">More Info</a>
      <br />
      <strong
        >but it runs perfectly fine in development mode i.e locally on
        localhost</strong
      >
    </p>
  </div>
  <div class="col-md-6 col-6" id="index-img">
    <img src="/images/index.svg" alt="" />
  </div>
</div>
<%- include('partials/footer.ejs') %>
